services:
  redis:
    image: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  keycloak:
    build:
      context: ./keycloak
      dockerfile: Dockerfile
      no_cache: true
    environment:
      KC_HEALTH_ENABLED: true
    ports:
      - "9100:8080"
    expose:
      - "9100"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health/ready"]
      interval: 5s
      timeout: 5s
      retries: 15

networks:
  default:
    name: external
