# You can use this environment file alongside the demo docker compose for API development.
PORT=5001
CORE__MONGODB__HOST=localhost
WORKERS=1

# Redis Connection
CORE__REDIS__HOST=localhost
CORE__REDIS__PORT=6379

# MongoDB Connection
CORE__MONGODB__HOST=localhost

# Application Settings
API__SECRET_KEY=dev-secret-key
API__DEBUG="true"

# Authentication
AUTH__OAUTH__ENABLED="true"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__AUDIENCE="clue"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__ACCESS_TOKEN_URL="http://localhost:9100/realms/HogwartsMini/protocol/openid-connect/token"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__AUTHORIZE_URL="http://localhost:9100/realms/HogwartsMini/protocol/openid-connect/auth"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__API_BASE_URL="http://localhost:9100/realms/HogwartsMini/protocol/openid-connect/userinfo"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__CLIENT_ID="clue"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__CLIENT_SECRET="09RhSF7tp0ShDdDMCszqI4zk8HMroTTZ"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__JWKS_URI="http://localhost:9100/realms/HogwartsMini/protocol/openid-connect/certs"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__SCOPE="openid profile email"
AUTH__OAUTH__PROVIDERS__KEYCLOAK__AUTO_CREATE="true"

# Plugin Discovery
# Configuring the Port Lookup plugin as an external source
API__EXTERNAL_SOURCES=[{"name": "port-lookup", "url": "http://localhost:5100", "classification": "TLP:CLEAR"}]
