MISP_API_KEY=your-api-key-here
API_URL=https://your-misp-instance
MISP_VERIFY=true

# Allow tags filters out tags from annoation result via an allow list
# Override the default allow list
#ALLOW_TAGS="misp:threat-level,cert-ist:threat_targeted_system"
# Append to default allow list
ALLOW_TAGS_EXTRA="cert-ist:threat_targeted_system"

# True to exclude decayed elements from queries
EXCLUDE_DECAYED= false
