Dockerfile
.idea
.git
build_scripts
dev
test
scripts

pipelines
venv
env
test
tests
exemples

pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.flake8
.gitignore
README.md
