name: Lint and Format Plugin

on:
  workflow_call:
    inputs:
      plugin-path:
        required: true
        type: string

jobs:
  push_to_registry:
    if: github.event_name != 'pull_request'

    runs-on: ubuntu-latest

    name: Build Docker Image

    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - name: Checkout develop
        uses: actions/checkout@v4
        with:
          ref: develop
      - name: Checkout current ref
        uses: actions/checkout@v4
      - name: Install yq
        run: sudo snap install yq
      - name: Extract Plugin Medata
        id: plugin-metadata
        run: |
          BASE_PLUGIN_TAG=$(yq '.base-plugin-tag // "${{github.ref == 'refs/heads/develop' && 'nightly' || 'latest'}}"' '${{inputs.plugin-path}}/manifest.yml')
          PLUGIN_VERSION=$(yq '.version // "0.0.1"' '${{inputs.plugin-path}}/manifest.yml')
          PLUGIN_NAME=$(yq '.name' '${{inputs.plugin-path}}/manifest.yml')
          echo "base-plugin-tag=$BASE_PLUGIN_TAG" >> $GITHUB_OUTPUT
          echo "version=$PLUGIN_VERSION" >> $GITHUB_OUTPUT
          echo "name=$PLUGIN_NAME" >> $GITHUB_OUTPUT

      - name: Add requirements.txt and pip.conf if it's missing
        run: touch requirements.txt && touch pip.conf
        working-directory: ${{inputs.plugin-path}}
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: cccs/aurora/clue-plugin-${{steps.plugin-metadata.outputs.name}}
          tags: |
            type=raw,event=branch,value=nightly,enable=${{ github.ref == format('refs/heads/{0}', 'develop') }}
            type=raw,event=branch,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags') }}
            type=raw,value=${{steps.plugin-metadata.outputs.version}}.${{ github.run_number }}
            type=raw,value=${{steps.plugin-metadata.outputs.version}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push Docker image
        id: push
        uses: docker/build-push-action@v3
        with:
          context: ${{inputs.plugin-path}}
          file: plugins/base/plugin.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            base_plugin_version=${{steps.plugin-metadata.outputs.base-plugin-tag}}
            version=${{ steps.plugin-metadata.outputs.version }}
            branch=${{ github.ref }}
            commit=${{ github.sha }}
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: index.docker.io/cccs/aurora/clue-plugin-${{steps.plugin-metadata.outputs.name}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
